################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/packages
/InstallManager.csproj.user
/JenzabarSilentInstall.v12.suo
