################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/packages
/bin/Release
/obj/Release
*.user
*.suo